{% extends 'base.html' %}
{% load cropping %}

{% block title %}Reporte Nacional{% endblock title %}

{% block head_css_page %}
<link href="{{ STATIC_URL }}reportes/css/reporte.css" rel="stylesheet" media="screen">
{% endblock head_css_page %}

{% block og_title %}OpenCovid-Perú: Nacional{% endblock og_title %}
{% block og_description%}Reporte: Nacional{% endblock og_description %}
{% block og_type %}article{% endblock og_type %}

{% block content %}
<main role="main">
  <div class="jumbotron jumbotron-fluid">    
      <div class="container">
        <h1 class="display-4">Perú - Nivel Nacional</h1>
      </div>  
  </div>
  <div class="container">
    <h2 class='pt-3'>Pruebas y Positividad</h2>
    <p>Análisis de las pruebas PCR y Rápidas, así como su positividad a nivel nacional</p>
  </div>
  <div class="container-fluid">
    <div class='row'>
      <div class='col-12' style='text-align: center;'> 
        <iframe style="width: 100%; max-width: 978px;" height="638" src="{{nacional.posit_total_url}}" frameborder="0"></iframe>
     </div>
     <div class='col-12' style='text-align: center;'>
      <iframe style="width: 100%; max-width: 978px;" height="638" src="{{nacional.posit_pm_url}}" frameborder="0"></iframe>
     </div>
      <div class='col-12' style='text-align: center;'> 
        <iframe style="width: 100%; max-width: 978px;" height="638" src="{{nacional.posit_pr_url}}" frameborder="0"></iframe>
      </div>
    </div>
  </div>
  <div class="container">
    <h2 class='pt-3'>Capacidad Hospitalaria</h2>
    <p>Análisis Nacional de los indicadores hospitalizados, camas UCI, oxígeno abastecido, entre otros.</p>
  </div>
  <div class="container-fluid">
    <div class='row'>
      <div class='col-xl' style='text-align: center;'> 
        <iframe style="width: 100%; max-width: 600px;" height=390 src="{{nacional.uci_ocupado_url}}" frameborder="0"></iframe>
      </div>
      <div class='col-xl' style='text-align: center;'>
        <iframe style="width: 100%; max-width: 600px;" height=390 src="{{nacional.camas_ocupado_url}}" frameborder="0"></iframe>
      </div>
    </div>
    <div class='row'>
      <div class='col-xl' style='text-align: center;'> 
        <iframe style="width: 100%; max-width: 600px;" height=550 src="{{nacional.oxigeno_url}}" frameborder="0"></iframe>
      </div>
    </div>
  </div>
  <div class="container">
    <h2 class='pt-3'>Desfase: MINSA, DIRESA y DIRIS</h2>
    <p>Discrepancias en cifras reportadas por MINSA con lo reportado por DIRIS Lima y regiones (DIRESA / GERESA)</p>
  </div>
  <div class="container-fluid">
    <div class='row'>
      <div class="col-12" style="position: relative; text-align: center;">  
        <iframe style="width: 100%; max-width: 680px;" height="920" src="https://docs.google.com/spreadsheets/d/e/2PACX-1vTpPrYToOh374nJ8yL7pg7v_IrkCqEIlKtKCiA9yb0aqLW9A1w_1bot8IVjg9HrOFJqTA51xv5nzQSf/pubhtml?gid=809850418&single=true&chrome=false&range=A1:I42" frameborder="0"></iframe>  
      </div>
    </div>
    <div class="row justify-content-center">
      <div class='col-4' style='text-align: center;'> 
        <iframe style="width: 100%; max-width: 300px;" height="186" src="{{nacional.casos_url}}" frameborder="0"></iframe>
      </div>
      <div class='col-4' style='text-align: center;'>
        <iframe style="width: 100%; max-width: 300px;" height="186" src="{{nacional.fallecidos_url}}" frameborder="0"></iframe>
      </div>
    </div>
  </div>
  <div class="container">
    <h2 class='pt-3'>SINADEF</h2>
    <p>Defunciones registradas por SINADEF a nivel nacional</p>
  </div>
  <div class="container-fluid">
    <div class='row'>
        <div class='col-xl' style='text-align: center;'> 
            <iframe style="width: 100%; min-width: 600px;" height=700 src="{{nacional.sinadef_url}}" frameborder="0"></iframe>
        </div>
    </div>
  </div>
  <div class="container">
    <h2 class='pt-3'>Movilidad Nacional</h2>
    <p>La movilidad en respuesta a las políticas destinadas a combatir el COVID-19 (cuarentena, inmovilizaciones, etc.)</p>
  </div>
  <div class="container">
    <div class='row'>
      <div class='col-xl' style='text-align: center;'> 
        <iframe style="width: 100%; min-width: 600px;" height=380 src="{{nacional.mobility_url}}" frameborder="0"></iframe>
      </div>
    </div>
  </div>
</main>
{% endblock content %}